$color-background: #f8f9fd;
$color-background-dark: #212121;

$color-text: #212121;
$color-text-lighter: #757575;

$color-text-white: #f8f9fd;

$color-primary: #37474f;
$color-primary-dark: #102027;
$color-primary-light: #62727b;

$color-accent: #01579b;
$color-accent-light: #4f83cc;
