@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

// Font stacks
$fonts-heading: "Playfair Display", serif;
$fonts-body: "Open Sans", sans-serif;
$fonts-code: "Fira Mono", monospace;

// Font weights
$font-weight-heading: 600;
$font-weight-tagline: 500;
$font-weight-subtitle: 500;
$font-weight-body: 300;

// Font sizes
$font-size-body: 16pt;
$font-size-small: 0.8em;
