@import "src/styles/colors"
@import "src/styles/dimens"
@import "src/styles/fonts"

.container
  background: $color-primary
  color: $text-color-white
  padding: 128px 0 256px 0

.name
  margin: 48px 0
  font-size: 96px
  font-weight: 600

.desc
  color: $text-color-white-secondary
  font-family: $fonts-code
  font-size: 20px
  font-weight: 700

b
  @extend .desc
  color: $color-accent-light

@media only screen and (max-width: $breakpoint-small)
  .container
    padding: 72px 0 128px 0

  .name
    font-size: 56px
