@import "../styles/dimens";

.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  padding-bottom: $padding-section;
}

.otherProjectsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  & > * {
    width: 45%;
  }
}

@media (max-width: $breakpoint-width-mobile) {
  .skillsContainer {
    flex-direction: column;
  }

  .otherProjectsContainer {
    flex-direction: column;
    & > * {
      width: auto;
    }
  }
}
