@import "../styles/colors";
@import "../styles/fonts";

.footer {
  background-color: $color-background-dark;
}

.text {
  font-family: $fonts-code;
  font-size: $font-size-small;
  color: $color-text-white-lighter;

  a {
    color: $color-accent-light;
  }
}
