@import "../styles/colors";
@import "../styles/dimens";
@import "../styles/fonts";

.headerContainer {
  height: 100vh;
}

.linksContainer {
  padding-top: 10px;
  padding-bottom: $padding-section;
}

.profileChip {
  padding: 0 5px;
}

.profileIcon {
  $size: 16px;
  width: $size;
  height: $size;

  padding-right: 8px;
  vertical-align: middle;
}

.profileLabel {
  font-size: $font-size-small;

  // Don't show in link color by default
  color: $color-text;
  &:hover {
    color: $color-accent;
  }
}

.introContainer {
  font-size: 1.2em;
}

.tagline {
  font-weight: $font-weight-heading;
  font-size: 1.2em;
  padding-bottom: 80px;
}

.wave {
  display: inline-block;
  font-size: 1.3em;

  &:hover {
    animation-name: wave-animation;
    animation-duration: 1.5s;
    transform-origin: 70% 70%; // pivot around bottom-left palm
  }
}

.laptop {
  display: inline-block;
  font-size: 1.3em;

  &:hover {
    animation-name: laptop-animation;
    animation-duration: 0.5s;
  }
}

@keyframes wave-animation {
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

@keyframes laptop-animation {
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
}
