@import "../styles/fonts";

.container {
  padding-bottom: 180px;
  font-size: 1.1em;
}

.tagline {
  font-weight: $font-weight-heading;
  font-size: 1.1em;
  padding-bottom: 60px;
}

.wave {
  display: inline-block;
  font-size: 1.3em;

  &:hover {
    animation-name: wave-animation;
    animation-duration: 1.5s;
    transform-origin: 70% 70%; // pivot around bottom-left palm
  }
}

.laptop {
  font-size: 1.3em;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    /* reset for the last half to pause */
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
