@import "../styles/colors";
@import "../styles/dimens";
@import "../styles/fonts";

.container {
  display: flex;
  flex-direction: row;

  padding-bottom: $padding-section;
}

.header {
  padding-bottom: 30px;
  align-items: center;
}

.subtitle {
  font-size: 0.9em;
}

.years {
  font-style: italic;
  font-weight: $font-weight-heading;
  color: $color-text-lighter;
}

.imgContainer {
  flex: 50%;
  padding: 10px 40px;
}

.img {
  width: 100%;
  height: auto;
}

.description {
  flex: 50%;

  p {
    padding-bottom: 30px;
    text-align: justify;
  }
}

.button {
  display: inline-block;

  $gap: 16px;
  padding: ($gap / 2) $gap;
  margin: 0 $gap $gap 0;

  font-size: $font-size-small;

  a {
    color: $color-accent;
    &:hover:before {
      visibility: hidden; // don't underline in buttons
    }
  }

  border: 1px solid $color-accent;
  border-radius: 20px;

  transition: all $transition-duration ease;

  &:hover {
    background: $color-accent;
    a {
      color: $color-text-white;
    }
  }
}

@media (max-width: $breakpoint-width-mobile) {
  .container {
    flex-direction: column;
  }

  .imgContainer {
    margin-bottom: 40px;
  }
}
