@import "src/styles/colors"
@import "src/styles/dimens"

.container
  $skill-item-width: 128px
  $skill-item-spacing: 16px

  margin: 24px ($skill-item-spacing / 2)
  height: 144px
  width: $skill-item-width
  text-align: center

.icon
  $size: 76px
  width: $size
  height: $size
  margin-bottom: 16px
  transition: filter $transition-duration ease-in-out

.icon--inactive
  // Grey
  filter: grayscale(100%) brightness(50%)

.skill-name
  padding-bottom: 4px

.skill-duration
  color: $text-color-secondary
  font-size: 14px
  font-style: italic
