@import "../styles/colors";
@import "../styles/dimens";
@import "../styles/fonts";

.container {
  display: flex;
  flex-direction: row;
}

.textContainer {
  flex: 50%;
  padding-bottom: $padding-section;
}

.header {
  padding-bottom: 30px;
  align-items: center;
}

.subtitle {
  font-family: $fonts-body;
  font-size: 0.9em;
  line-height: 1.6em;
}

.lineContainer {
  flex: 50%;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.lineYears {
  padding-top: 10px;
  padding-right: 25px;

  // TODO: below is same as .subtitle in ProjectItem
  font-family: $fonts-code;
  font-size: 0.9em;
  line-height: 1.6em;
}

.lineGraphic {
  display: block;
  padding-right: 5em;
}

@media (max-width: $breakpoint-width-mobile) {
  @mixin containerMobile {
    flex-direction: column;

    & > div:nth-child(1) {
      padding: 0 20px 20px 20px;
    }
  }

  .container {
    @include containerMobile;
  }

  .containerReverse {
    @include containerMobile;
  }

  .lineContainer {
    margin-bottom: 40px;
  }
}
