@import "../styles/dimens";

.skillsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // Prevent rows spreading across total height, align them to top of flexbox
  align-items: flex-start;

  padding-bottom: $padding-section;
}

@media (max-width: $breakpoint-width-mobile) {
  .skillsContainer {
    flex-direction: column;
  }
}
